In [1]:
import pandas as pd

In [2]:
pres = pd.read_csv(r"P:/data_science/prescriber-info.csv", header=0, sep=",", nrows = 100000)

In [7]:
meta = pd.read_csv(r"D:/NPI/PartD_Prescriber_PUF_NPI_17.txt", header=0, sep="\t", nrows =12898)

In [31]:
prescriber_info = pd.read_csv(r"D:/NPI/PartD_Prescriber_PUF_NPI_Drug_17.txt", header=0, sep="\t",nrows=10000)
prescriber_info

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_city,nppes_provider_state,specialty_description,description_flag,drug_name,generic_name,bene_count,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE,NaN,...,13.0,390,59.21,NaN,*,NaN,*,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,ATORVASTATIN CALCIUM,ATORVASTATIN CALCIUM,11.0,...,27.0,765,259.48,NaN,#,NaN,#,NaN,NaN,NaN
2,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,CEPHALEXIN,CEPHALEXIN,17.0,...,17.0,123,98.99,NaN,#,NaN,#,NaN,NaN,NaN
3,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,CIPROFLOXACIN HCL,CIPROFLOXACIN HCL,11.0,...,12.0,95,120.43,NaN,*,NaN,*,NaN,NaN,NaN
4,1003000126,ENKESHAFI,ARDALAN,CUMBERLAND,MD,Internal Medicine,S,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,17.0,...,17.0,105,300.76,NaN,#,NaN,#,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1003027558,FONG,LINDA,LOS ANGELES,CA,Internal Medicine,S,CLOPIDOGREL,CLOPIDOGREL BISULFATE,15.0,...,116.3,3490,1147.77,NaN,#,NaN,#,NaN,NaN,NaN
9996,1003027558,FONG,LINDA,LOS ANGELES,CA,Internal Medicine,S,DIGOXIN,DIGOXIN,21.0,...,185.5,5564,5965.64,NaN,#,NaN,#,NaN,NaN,NaN
9997,1003027558,FONG,LINDA,LOS ANGELES,CA,Internal Medicine,S,DILT-XR,DILTIAZEM HCL,NaN,...,59.0,1770,1364.10,NaN,#,NaN,#,NaN,NaN,NaN
9998,1003027558,FONG,LINDA,LOS ANGELES,CA,Internal Medicine,S,ELIQUIS,APIXABAN,NaN,...,25.0,738,10634.18,NaN,*,13.0,NaN,25.0,738.0,10634.18
9999,1003027558,FONG,LINDA,LOS ANGELES,CA,Internal Medicine,S,FLECAINIDE ACETATE,FLECAINIDE ACETATE,NaN,...,31.7,950,633.25,NaN,*,12.0,NaN,31.7,950.0,633.25

In [3]:
meta = pd.read_csv(r"D:/NPI/PartD_Prescriber_PUF_NPI_17.txt", header=0, sep="\t", nrows=10000)
meta

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1003923053,WALZ CALVEY,ANNE,E,PA-C,F,I,14555 W NATIONAL AVE,SUITE 165,NEW BERLIN,...,55.0,180.0,NaN,NaN,NaN,NaN,NaN,167.0,33.0,1.0868
9996,1003923103,CANDARAS,MICHAEL,M,MD,M,I,12655 SENECA RD,NaN,IRVING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,1003923129,BERNARD,JAMES,W,MD,M,I,106 W 12TH ST,NaN,CARUTHERSVILLE,...,142.0,277.0,NaN,0.0,0.0,0.0,NaN,269.0,55.0,0.9252
9998,1003923194,GELLER,IVAN,B,MD,M,I,3885 UPHAM ST,100,WHEAT RIDGE,...,355.0,594.0,35.0,NaN,113.0,NaN,11.0,279.0,488.0,2.1831
9999,1003923301,WIEBE,REBECCA,L,M.D.,F,I,3555 LUTHERAN PKWY,SUITE 380,WHEAT RIDGE,...,26.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.9900

# Sort Data

In [32]:
prescriber_info['drug_name'] = prescriber_info['drug_name'].replace('-', '.', regex=True)

In [5]:
drug_names = prescriber_info.groupby('drug_name').size().sort_values(ascending=False)

In [126]:
prescriber2 = prescriber_info.groupby(['npi','nppes_provider_last_org_name','nppes_provider_first_name','drug_name','total_claim_count']).apply(lambda g: g.nunique().sum())
prescriber2

npi         nppes_provider_last_org_name  nppes_provider_first_name  drug_name             total_claim_count
1003000126  ENKESHAFI                     ARDALAN                    AMLODIPINE BESYLATE   13                   15
                                                                     ATORVASTATIN CALCIUM  27                   16
                                                                     CEPHALEXIN            17                   16
                                                                     CIPROFLOXACIN HCL     12                   16
                                                                     DOXYCYCLINE HYCLATE   17                   16
                                                                                                                ..
1003027558  FONG                          LINDA                      CLOPIDOGREL           39                   16
                                                                     DIGOXIN               59                   16
                                                                     DILT.XR               18                   15
                                                                     ELIQUIS               13                   18
                                                                     FLECAINIDE ACETATE    12                   18
Length: 9999, dtype: int64

In [225]:
prescriber2.to_frame()

                                                                                                           0
npi        nppes_provider_last_org_name nppes_provider_first_name drug_name            total_claim_count
1003000126 ENKESHAFI                    ARDALAN                   AMLODIPINE BESYLATE  13                 15
                                                                  ATORVASTATIN CALCIUM 27                 16
                                                                  CEPHALEXIN           17                 16
                                                                  CIPROFLOXACIN HCL    12                 16
                                                                  DOXYCYCLINE HYCLATE  17                 16
...                                                                                                       ..
1003027558 FONG                         LINDA                     CLOPIDOGREL          39                 16
                                                                  DIGOXIN              59                 16
                                                                  DILT.XR              18                 15
                                                                  ELIQUIS              13                 18
                                                                  FLECAINIDE ACETATE   12                 18

[9999 rows x 1 columns]

In [226]:
prescriber4= prescriber3.reset_index()
prescriber4

,npi,nppes_provider_last_org_name,nppes_provider_first_name,drug_name,0
0,1003000126,ENKESHAFI,ARDALAN,AMLODIPINE BESYLATE,15
1,1003000126,ENKESHAFI,ARDALAN,ATORVASTATIN CALCIUM,16
2,1003000126,ENKESHAFI,ARDALAN,CEPHALEXIN,16
3,1003000126,ENKESHAFI,ARDALAN,CIPROFLOXACIN HCL,16
4,1003000126,ENKESHAFI,ARDALAN,DOXYCYCLINE HYCLATE,16
...,...,...,...,...,...
9962,1003027558,FONG,LINDA,CLOPIDOGREL,16
9963,1003027558,FONG,LINDA,DIGOXIN,16
9964,1003027558,FONG,LINDA,DILT.XR,15
9965,1003027558,FONG,LINDA,ELIQUIS,18
9966,1003027558,FONG,LINDA,FLECAINIDE ACETATE,18

In [69]:
prescriber3= prescriber_info.groupby(['npi','nppes_provider_last_org_name','nppes_provider_first_name','drug_name']).apply(lambda g: g.nunique().sum())

In [160]:
prescriber3.to_frame()

                                                                                         0
npi        nppes_provider_last_org_name nppes_provider_first_name drug_name
1003000126 ENKESHAFI                    ARDALAN                   AMLODIPINE BESYLATE   15
                                                                  ATORVASTATIN CALCIUM  16
                                                                  CEPHALEXIN            16
                                                                  CIPROFLOXACIN HCL     16
                                                                  DOXYCYCLINE HYCLATE   16
...                                                                                     ..
1003027558 FONG                         LINDA                     CLOPIDOGREL           16
                                                                  DIGOXIN               16
                                                                  DILT.XR               15
                                                                  ELIQUIS               18
                                                                  FLECAINIDE ACETATE    18

[9967 rows x 1 columns]

In [227]:
prescriber3.reset_index()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,drug_name,0
0,1003000126,ENKESHAFI,ARDALAN,AMLODIPINE BESYLATE,15
1,1003000126,ENKESHAFI,ARDALAN,ATORVASTATIN CALCIUM,16
2,1003000126,ENKESHAFI,ARDALAN,CEPHALEXIN,16
3,1003000126,ENKESHAFI,ARDALAN,CIPROFLOXACIN HCL,16
4,1003000126,ENKESHAFI,ARDALAN,DOXYCYCLINE HYCLATE,16
...,...,...,...,...,...
9962,1003027558,FONG,LINDA,CLOPIDOGREL,16
9963,1003027558,FONG,LINDA,DIGOXIN,16
9964,1003027558,FONG,LINDA,DILT.XR,15
9965,1003027558,FONG,LINDA,ELIQUIS,18
9966,1003027558,FONG,LINDA,FLECAINIDE ACETATE,18

# Try converting dataframes

In [239]:
data = prescriber2.to_frame()

In [291]:
data

                                                                                                           0
npi        nppes_provider_last_org_name nppes_provider_first_name drug_name            total_claim_count
1003000126 ENKESHAFI                    ARDALAN                   AMLODIPINE BESYLATE  13                 15
                                                                  ATORVASTATIN CALCIUM 27                 16
                                                                  CEPHALEXIN           17                 16
                                                                  CIPROFLOXACIN HCL    12                 16
                                                                  DOXYCYCLINE HYCLATE  17                 16
...                                                                                                       ..
1003027558 FONG                         LINDA                     CLOPIDOGREL          39                 16
                                                                  DIGOXIN              59                 16
                                                                  DILT.XR              18                 15
                                                                  ELIQUIS              13                 18
                                                                  FLECAINIDE ACETATE   12                 18

[9999 rows x 1 columns]

In [299]:
set1 = data.reset_index()

In [292]:
set1 = data.drop_duplicates()

In [294]:
set1 = set1.reset_index()

In [287]:
set1=set1.drop_duplicates('npi')

KeyError: Index(['npi'], dtype='object')

In [297]:
database = set1.pivot(index='npi',columns='drug_name', values='total_claim_count')

In [260]:
database = database.fillna(0)

In [298]:
database

drug_name,AMLODIPINE BESYLATE,ATORVASTATIN CALCIUM,BUTRANS,FUROSEMIDE,INSULIN SYRINGE
npi,,,,,
1003000126,13.0,27.0,NaN,22.0,NaN
1003000142,NaN,NaN,31.0,NaN,NaN
1003009218,NaN,NaN,NaN,NaN,13.0

In [271]:
set1.iloc[0]

npi                                      1003000126
nppes_provider_last_org_name              ENKESHAFI
nppes_provider_first_name                   ARDALAN
drug_name                       AMLODIPINE BESYLATE
total_claim_count                                13
0                                                15
Name: 0, dtype: object